.max-w-9xl{
  max-width: 1600px;
}

.text-half-red-white {
  background: linear-gradient(to bottom, #dc2626 62%, #ffffff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.letter {
  display: inline-block;
  transform-origin: center center; /* Make sure letters rotate around their center */
  will-change: transform, opacity; /* Optimize performance */
}




